:root{
    --primary-color: #013F62;
    --white-color:#fff;
    --input--background-color:#D9D9D9;
    --link-color:#0172B2;
    --error:#D93025;
    --input-text:#212121;
    --font--1:Linden Hill;
    --input-background--2:#641314;
}

body{
margin: 0;
padding: 0;    
}

nav{
    width: 97%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   

}

.auth{
    border: 2px solid var(--primary-color);
    /* background-color: var(--primary-color); */
    padding: 0.5rem;
    border-radius: 50px;
}
span:hover{
    color:var(--primary-color) ;

}
span{
    cursor: pointer;
}
span a{
    text-decoration: none ;
    color: black;
}