:root{
    --primary-color: #013F62;
    --white-color:#fff;
    --input--background-color:#D9D9D9;
    --link-color:#0172B2;
    --error:#D93025;
    --input-text:#212121;
    --font--1:Linden Hill;
    --input-background--2:#641314;
}

body{
margin: 0;
padding: 0;    
}

.container{
    padding: 0.5rem;
}
.auth{
    display: flex;
    justify-content: end;
    align-items: center;
}

.authbut{
    border: 2px solid var(--primary-color);
    padding:0 1.1rem;
    border-radius: 30px;
    /* background-color: var(--primary-color); */
}

.authbut span a{
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2rem;

}


.authbut #login a:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 0 0.7rem;
}
.authbut #register a:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0 0.7rem;
}

.btn, input[type="search"]{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

input[type="search"]:focus{
    box-shadow: 0 0 0 2px var(--primary-color);
}

.btn:hover{
    background-color: var(--primary-color);
    color: white;
}